# =============================================================================
# Lumina Linux — Syslinux bootloader (BIOS)
# =============================================================================

DEFAULT lumina
PROMPT 0
TIMEOUT 30

UI menu.c32
MENU TITLE Welcome to Lumina Linux
MENU BACKGROUND /lumina/splash.png
MENU COLOR border       0 #ffffffff #00000000 std
MENU COLOR title        0 #ffffffff #00000000 std
MENU COLOR sel          7 #ffffff00 #4e9ddbff all
MENU COLOR unsel        0 #ffffffff #00000000 std
MENU COLOR help         0 #ffffffff #00000000 std
MENU COLOR timeout_msg  0 #ffffffff #00000000 std
MENU COLOR timeout      0 #ffffffff #00000000 std

LABEL lumina
    MENU LABEL Boot Lumina Linux (x86_64, UEFI)
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/intel-ucode.img,/arch/boot/amd-ucode.img,/arch/boot/x86_64/initramfs-linux.img
    APPEND archisobasedir=arch archisolabel=LUMINA_%ARCHISO_LABEL_SUF%

LABEL lumina-nvidia
    MENU LABEL Boot Lumina Linux (NVIDIA proprietary)
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/intel-ucode.img,/arch/boot/amd-ucode.img,/arch/boot/x86_64/initramfs-linux.img
    APPEND archisobasedir=arch archisolabel=LUMINA_%ARCHISO_LABEL_SUF% nvidia-drm.modeset=1 modprobe.black=nouveau

LABEL lumina-safe
    MENU LABEL Boot Lumina Linux (Safe Graphics Mode)
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/intel-ucode.img,/arch/boot/amd-ucode.img,/arch/boot/x86_64/initramfs-linux.img
    APPEND archisobasedir=arch archisolabel=LUMINA_%ARCHISO_LABEL_SUF% nomodeset

LABEL hdt
    MENU LABEL Hardware Information (HDT)
    COM32 hdt.c32

LABEL reboot
    MENU LABEL Reboot
    COM32 reboot.c32

LABEL poweroff
    MENU LABEL Power Off
    COM32 poweroff.c32
